

<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-2">
            <h2>Profile Details</h2>
            @if(userDetails){
                <hr>
                <div class="profile-section">
                    <p><label>First Name:</label> {{ userDetails.first_name }}</p>
                    <p><label>Last Name:</label> {{ userDetails.last_name }}</p>
                    <p><label>Email:</label> {{ userDetails.email }}</p>
                    <p><label>Phone:</label> {{ userDetails.phone_number }}</p>

                    @if(userDetails.roles.length > 0){
                        <p><label>Roles:</label> 
                            @for (role of userDetails.roles; track role.id; let last = $last) {
                                {{ role.name }}
                                @if(!$last){
                                    ,
                                }
                            }
                        </p>
                    }
                    
                    @if(userDetails.permissions.length > 0){
                        <p><label>Permissions:</label> 
                            @for (permission of userDetails.permissions; track permission.id; let last = $last) {
                                {{ permissions[permission.name] }}
                                @if(!$last){
                                    ,
                                }
                            }
                        </p>
                    }
                    
                </div>
            }
        </div>
    </div>
</div>
