/* You can add global styles to this file, and also import other style files */
.form-group { 
    margin-bottom: 1rem;
}

.ng-invalid .invalid-feedback {
    display: block;
}

label.required::after {
    content: "*";
    color: red;
}

.field-note {
    font-size: 0.75rem;
}
